body {
  margin: 10px;
  overflow: hidden;
}

$grid__bp-md: 1024;
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: left;
    border: 10px;
    justify-content: center;
  }
}

.controls div {
  margin-left: 10px;
  font-size: 2em;
}

#timer {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 8em;

  .hh { color: green}
  .mm { color: blue}
  .ss { color: pink}
  .millis { color: black}
}
